body{
    background-color: rgb(255, 255, 255);
    color: #8b919f !important;
    font-family: 'Roboto', sans-serif !important;
}
h1{
    font-size: 18px;
    text-align: center;
    margin-bottom: 60px;
    color: #5b5e63;
}
button{
    background-color: #f72d2d !important;
    color: #fdf3f4 !important;
}
.container{
    padding: 10% 20% 0 20%;
}
button:hover {
    background-color: #ff3737de !important;
}
button:focus{
    background-color: #f72d2d !important;
}
.margin-top-25px{
    margin-top: 25px;
}
.previously-registered{
    text-align: center;
    margin-top: 15px;
    font-size: 13px;
}
a{
    color: #f72d2d;
}
a:hover{
    color: #8b919f;
}